.btnBack {
    display: flex;
    text-decoration: none;
    background-color: red;
    padding: 10px;
    //border: 1px solid rgba(#FF5252, .7);
    border-radius: var(--radius);
    height: 50px;
    min-width: 176px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    color: var(--white);
    span {
        text-transform: uppercase;
        color: white;
        font-size: 16px;
        background-color: red;
    }
    &:hover {
        box-shadow: 0 0 10px var(--primary);
    }
}