.toast {
  --success-lighten: #f0faf7;
  --success: #32c48d;
  --success-darken: #2d6254;
  --danger-lighten: #fdf1f0;
  --danger: #e53d3d;
  --danger-darken: #882325;
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  gap: 16px;
  align-items: center;
  width: 100%;
  max-width: 450px;
  min-height: 56px;
  padding: 16px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  bottom: -100%;
  left: calc(50% - 225px);
  transition: 1s;
  &.open {
    bottom: 20px;
  }
  &.success {
    color: var(--success-darken);
    border-color: var(--success);
    background-color: var(--success-lighten);
    .icon.success {
      display: block;
    }
    .close svg {
      fill: var(--success);
    }
  }
  &.danger {
    color: var(--danger-darken);
    border-color: var(--danger);
    background-color: var(--danger-lighten);
    .icon.danger {
      display: block;
    }
    .close svg {
      fill: var(--danger);
    }
  }
  .icon {
    display: none;
    &.success {
      fill: var(--success);
    }
    &.danger {
      fill: var(--danger);
    }
  }
  p {
    margin: 0;
  }
  .close {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
}