main {
    &.carte {
        header {
            background-color: var(--white10);
            height: 100px;
            justify-content: center;
            align-items: center;
            width: 100%;

            h1 {
                font-weight: 100;
                font-size: 32px;
                margin: 0;

                span {
                    color: var(--primary);
                }
            }
        }

        section {
            height: calc(100vh - 494px);
            overflow: auto;
            min-height: 200px;

            .category {
                margin: var(--space);

                h2 {
                    margin: 0;
                    font-size: 22px;
                    font-weight: bold;
                }

                ul {
                    &.burger {
                        margin-top: var(--space);
                        color: rgba(255, 82, 82, .7);
                        margin: 0;
                        padding: 0;
                        list-style: none;

                        label {
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 16px;
                            font-weight: 300;
                            cursor: pointer;
                            transition: none;
                            border-bottom: var(--secondary) 1px dotted;
                            padding-bottom: 15px;
                            padding-top: 15px;
                            &:hover {
                                color: #ff5252;
                                > span {
                                    border-color: #ff5252;
                                    &::before {
                                        background-color: #ff5252; 
                                    }
                                }
                            }

                            .inputRadio {
                                display: flex;
                                &:checked + .spanRadio {
                                    border-color: #FFF;

                                    &::before {
                                        background-color: #FFF;
                                        width: 80%;
                                        height: 80%;
                                    }
                                }

                            }

                            >span {
                                display: flex;
                                margin-right: 10px;
                                width: 32px;
                                height: 32px;
                                border: var(--secondary) 1px solid;
                                position: relative;
                                justify-content: center;
                                align-items: center;

                                ::before {
                                    position: relative;
                                    width: 0%;
                                    height: 0%;
                                    content: "";
                                    background-color: var(--secondary);
                                    transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
                                }
                            }

                            h3 {
                                flex: 1;
                                font-weight: 100;
                                font: inherit;
                                margin: 0 var(--space);
                                padding: 10px 0;
                            }

                            >div {
                                padding: 10px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}