header {
    &.title {
        background-color: var(--white10);
        height: 100px;
        justify-content: center;
        align-items: center;
        width: 100%;
        h1 {
            font-weight: 100;
            font-size: 32px;
            margin: 0;
            span {
                color: var(--primary);
            }
        }
    }
}